/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
  background-color: #1f2937;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #38bdf8;
}

hr {
  margin-bottom: 20px;
}

/* Container */
.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}
